{
 ;; ftx config
 :ftx-api-key "<YOUR API KEY>"
 :ftx-secret-key "<YOUR SECRET KEY>"
 ;; use these two connections if not in the US
 :ftx-ws "wss://ftx.com/ws/"
 :ftx-api "https://ftx.com/api"
 ;; use these two connections if in the US - spot only, no futures :(
 :ftx-ws-us "wss://ftx.us/ws/"
 :ftx-api-us "https://ftx.us/api"

 :ws-timeout-ms 10000 ;; timeout to wait before attempting to reconnect

 :weights ;; portfolio optimized weights for each fc, empty for now
 {}

 ;; model params
 :bar-count 10 ;; min bars
 :vol-span 35
 :window-start 2.0
 :num-windows 12 ;; implication is that there will be 4 less forecasts than this number
 :scale-mult 10.0 ;; multiplier for scaling decay

 ;; trade params
 :num-markets 20
 :scale-target 30.0 ;; E[abs(pos size)] = this value * max pos size PRE-VOL SCALE
 :max-pos-notional 30000.0 ;; hard max for position notional
 :min-pos-notional-percent 0.025 ;; hard minimum for position notional (piece)
 :min-order-notional-percent 0.025 ;; hard minimum for order notional (increment)
 }
