{
 ;; ftx config
 :ftx-api-key "<YOUR API KEY>"
 :ftx-secret-key "<YOUR SECRET KEY>"
 ;; use these two connections if not in the US
 :ftx-ws "wss://ftx.com/ws/"
 :ftx-api "https://ftx.com/api"
 ;; use these two connections if in the US - spot only, no futures :(
 :ftx-ws-us "wss://ftx.us/ws/"
 :ftx-api-us "https://ftx.us/api"

 :ws-timeout-ms 10000 ;; timeout to wait before attempting to reconnect

 ;; model params
 :est-bar-mins 5.0
 :bar-count 10 ;; minimum bars to see
 :vol-span 36
 :window-start 16.0
 :num-windows 5

 ;; scaling
 :scale-span 100
 :scale-target 10.0
 :scale-cap 20.0
 ;; starting scales measured against current est bar size
 :starting-scale 23.0
 :fdm 1.17

 ;; volatility targeting
 :volatility-target 0.375

 ;; trade params
 :target-amts {:ETH 9107764.838017013,
               :LINK 438996.16638020833,
               :UNI 189965.92395138886,
               :GRT 116362.92591180555,
               :BTC 1.1688280568465278E7,
               :SUSHI 214371.13938072915,
               :DOGE 464127.3723954132,
               :SOL 576298.7497743055,
               :BCH 183982.81173055552,
               :LTC 289071.34099826385,
               :YFI 84894.27321180554,
               :TRX 67023.90053440104}
 :num-markets 20 ;; if above is populated, this will be ignored
 :position-inertia-percent 0.1 ;; minimum position change
 :test-market-notional 10000.0
 }
